*{
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.wrapper{
    margin: 0 auto;
    width: 1002px;
    /*background: #999;*/
}
ul{
    margin: 0;
    list-style: none;
}